* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* overflow: hidden; */
}

.gym .abs .font {
  display: none;
}

.gym .abs .font img {
  width: 100%;
  position: absolute;
  height: 200px;
}

.gym .abs .font .title {
  position: relative;
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
}

.gym .abs .font button {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: larger;
  background-color: maroon;
  color: #fff;
  top: 50px;
  left: 70%;
}

.gym .abs #font2 {
  display: none;
}

.gym .abs .font2 .img {
  background-color: hsl(0, 0%, 0%);
  color: #000;
  width: 100%;
  height: 120px;
  position: absolute;
}

.gym .abs .font2 img {
  width: 100%;
  position: absolute;
  height: 120px;
  margin: 0;
  top: 0;
  opacity: 0.8;
  background-color: #000;
  color: #000;
  /* display: none; */
  /* filter: saturate(5); */
}

.gym .abs .font2 .back {
  position: fixed;
  color: #fff;
  font-size: 30px;
  margin: 10px;
  padding: 0 20px 10px 15px;
  background-color: #0000005b;
  border-radius: 50%;
  text-align: center;
  display: none;
}

.gym .abs .font2 .title {
  position: relative;
  left: 40%;
  color: #fff;
}

.gym .abs .font2 .levels {
  margin-top: 91px;
}

.gym .abs .font2 .levels .level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid #dacfcf;
}

.gym .abs .font2 .level .numb {
  background-color: maroon;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}

.gym .abs .font2 .level .text {
  font-size: 30px;
}

/* LEVEL 1 */
/* .gym .abs .level1 {
  display: none;
} */

.gym .abs .level1 .header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: 100%;
  align-items: center;
  top: 0;
}

.gym .abs .level1 .header .back {
  font-size: 30px;
  padding-left: 10px;
}

.gym .abs .level1 .header .title {
  font-weight: bold;
}

.gym .abs .level1 .contents {
  margin: 44px 0 50px 0;
}

.gym .abs .level1 .contents .title {
  background-color: #e6e4e4;
  padding: 10px;
}

.gym .abs .level1 .contents .content .workouts {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 0 20px;
  align-items: center;
  border: 1px solid #a79a9a;
}

.gym .abs .level1 .contents .content .workouts .left {
  padding: 10px 0;
}

.gym .abs .level1 .contents .content .workouts .left .workout {
  padding-bottom: 5px;
}

.gym .abs .level1 .contents .content .workouts .left .time {
  color: #9c9393;
}

.gym .abs .level1 .contents .footer {
  background-color: maroon;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

/* .gym .abs .level-do{
  display: none;
} */

.gym .abs .level-do .header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.gym .abs .level-do .header .back {
  font-size: 30px;
  color: #979797;
}

.gym .abs .level-do .header .time {
  font-size: 25px;
  font-weight: bold;
  color: #979797;
}

.gym .abs .level-do .img-counter {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

@media screen {
}

.gym .abs .level-do .downCount {
  position: absolute;
  top: 80%;
  left: 42%;
  background-color: maroon;
  width: fit-content;
  font-size: 50px;
  border-radius: 50%;
  padding: 10px 25px;
  color: #fff;
}

.gym .abs .level-do .footer {
  text-align: center;
}

.gym .abs .level-do .footer .ready {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 5px;
}

.gym .abs .level-do .footer .counter {
  background-color: maroon;
  color: #fff;
  padding: 10px;
  font-size: 40px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* REST */
.gym .abs .rest .img-count {
  position: relative;
}

.gym .abs .rest .img-count .count-rest {
  position: absolute;
  top: 50%;
  left: 45%;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.gym .abs .rest .next-workout {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gym .abs .rest .next-workout .left-content .next,
.workout-title {
  padding-bottom: 3px;
}

/* .gym .abs .rest .next-workout img{
  padding: 10px;
} */

/* LEVEL ONE */

/* Workout */
.gym .abs .level-one{
  margin-top: 40px;
  display: none;
}
.gym .abs .level-one .img-workout img{
  width: 100%;
}

.gym .abs .level-one .title{
  display: flex;
  align-items: center;
  padding: 10px;
}

.gym .abs .level-one .title span{
  padding-left: 5px;
  color: maroon;
}

.gym .abs .level-one .count {
  position: fixed;
  bottom: 10px;
  left: 40%;
  color: #fff;
  background-color: maroon;
  padding: 1px 13px;
  border-radius: 50%;
  font-size: 50px;
}
